*{
    box-sizing: border-box;
}
body {
    background-color: rgba(255, 230, 0, 0.904);
}

aside {
    background-color: rgba(200, 205, 252, 0.685);
    margin: 12px;
    /*float: right;*/
    padding: 4px;
}

footer {
    width:100%;
    height: 200%;
}
/* estilos moda*/

.color{
    background-color: rgb(238, 196, 217);
}
/*estilos conocenos*/

.conocenos{
    background-color: rgb(240, 240, 252);
}
/* estilos de formulario*/

form{
    max-width: 485px;
    width: 100%;
    margin: 30px auto 0;
    background-color:rgb(111, 161, 228) ;
}
