*{
    box-sizing: border-box;
}
header {
        padding: 1%;
        width:100%;
        height: 200%;
}
body {
    background-color: rgba(255, 230, 0, 0.904);
}
aside {
    width: 10%;
    padding: 1% ;
    background-color: rgba(255, 255, 255, 0);
}

footer {
    background-color: black;
    color: white;
    padding: 1%;
    width:100%;
    height: 200%;
}
/* estilos moda*/
.color{
    background-color: rgb(238, 196, 217);
}
/*estilos conocenos*/

.conocenos{
    background-color: rgb(240, 240, 252);
}
/* estilos de formulario*/
.h2{
    text-align: center;
}
form{
    max-width: 485px;
    width: 100%;
    margin: 30px auto 0;
    background-color:rgb(111, 161, 228) ;
    padding: 10px;
}

